* {
  padding: 0; margin: 0;
}
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
/* Navigation **********************************/
.navigation {
  display: block;
  width: 95%;
  position: absolute;
  margin: auto;
  height: auto;
  text-align: right;
  font-weight: 400;
  color: #ffffff;
  z-index: 10;
}
.navigation__title {
  display: none;
}
.navigation__li {
  display: inline-block;
  height: 36px;
  font-size: 14px;
  width: 90px;
  line-height: 36px;
  text-align: center;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 10px;
  transition: all 0.2s;
}
.navigation__li:hover {
  background-color: #ffffff;
  color: #2cb7d6;
  font-weight: 700;
}
.navigation__li:nth-of-type(3) {
  border: 3px solid #ffffff;
}


/* Header **********************************/
.header {
  display: block;
  position: relative;
  height: 540px;
  color:#ffffff;
  font-weight: 700;
  background-image: url('/img/header@1x.jpg');
  background-position: center; 
  background-size: cover;
}
.header__wrapper {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}
.header__wrapper__h3 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 900;
}
.header__wrapper__h1 {
  font-size: 30px;
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
.header__wrapper__p {
  width: 90%;
  margin: auto;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.header__wrapper__button {
  display: block;
  width: 90%;
  max-width: 450px;
  background: #2cb7d6;
  border: 3px solid #2cb7d6;
  position: relative;
  margin: 20px auto;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50px;
  transition: all 0.2s;
}
.header__wrapper__button:hover {
  background: rgba(0,0,0,0);
  color: #2cb7d6;
}


/* Section **********************************/
.section__h4 {
  font-size: 18px;
  font-weight: 700;
  color: #444444;
  margin-top: 55px;
  margin-bottom: 35px;
}
.section__articles_grid {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 5px;
  padding: 5px;
  }
/* Article **********************************/
.article {
 display: block;
 width: 95%;
 max-width: 450px; 
 height: 240px;
 color: #ffffff;
 background-size: cover;
 background-position: center;
 padding: 10px;
 padding-left: 20px;
 padding-right: 30px;
 box-sizing: border-box;
 position: relative;
 margin: auto;
 margin-top: 10px;
 text-align: left;
 border-radius: 4px;
}
.article__wrapper {
  display: block;
  width: 80%;
  position: absolute;
  bottom: 20px; left:20px;
}
.article:nth-of-type(1){
  background-image: url('/img/article1_@1x.jpg');
}
.article:nth-of-type(2){
  background-image: url('/img/article2_@1x.jpg');
}
.article:nth-of-type(3){
  background-image: url('/img/article3_@1x.jpg');
}
.article__wrapper__number {
  display: inline-block;
  width: 60px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #2cb7d6;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 400;
  padding-left: 10px;
}
.article__wrapper__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 15px;
}
.article__wrapper__description {
  font-size: 14px;
  line-height: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #e3e3e3;
  margin-top: 15px;
}


/* Footer **********************************/
.footer {
  padding: 20px;
}
.footer__h1 {
  font-size: 18px;
  font-weight: 700;
  color: #444444;
  margin-top: 55px;
}
.footer__form__label {
  display: block;
  font-size: 18px;
  line-height: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #444444;
  margin-top: 55px;
}
.footer__form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 450px; 
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  margin: auto;
  margin-top: 35px;
  text-align: center;
  padding: 10px 10px 10px 20px;
}
.footer__form__submit {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 450px; 
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 50px;
  color: #ffffff;
  text-align: center;
  border-radius: 40px;
  background-color: #2cb7d6;
  border: 3px solid #2cb7d6;
  transition: all 0.2s;
}
.footer__form__submit:hover {
  color: #2cb7d6;
  background-color: rgba(0,0,0,0);
}




/* TABLET STYLES **********************************/
@media (min-width: 769px) {
  /* TABLET STYLES - Navigation **********************************/
.navigation__title {
  display: inline-block;
  position: absolute;
  left: 5%;
  top: 30px;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 900;
}
 /* TABLET STYLES - Header **********************************/
.header {
 background-image: url('/img/header@2x.jpg');
 height: 100vh;
}
.header__wrapper__h3 {
  display: none;
}
.header__wrapper__h1 {
  font-size: 52px;
  width: 490px;
}
.header__wrapper__p {
  font-size: 24px;
  line-height: 24.5px;
}
.header__wrapper__button {
  width: 225px;
  margin: 40px auto;
}
/* TABLET STYLES -  Section **********************************/
.section__h4 {
  font-size: 22px;
  font-weight: 700;
}
/* TABLET STYLES -  Article **********************************/
.section__articles_grid {
max-width: 930px;
grid-template-columns: auto auto auto;
grid-template-rows: auto;
grid-gap: 20px;
padding: 20px;
}
.article {
 width: 100%;
 max-width: 300px;
 height: 400px;

}
.article:nth-of-type(1){
  background-image: url('/img/article1_@2x.jpg');
}
.article:nth-of-type(2){
  background-image: url('/img/article2_@2x.jpg');
}
.article:nth-of-type(3){
  background-image: url('/img/article3_@2x.jpg');
}
/* TABLET STYLES -  Footer **********************************/
.footer__h1 {
  font-size: 22px;
}
.footer__form__label {
  margin-top: 35px;
}
.footer__form__input {
  display: inline-block;
  width: 300px;
  text-align: left;
}
.footer__form__submit {
  display: inline-block;
  width: 172px;
  margin: 15px 0 60px 15px;

}
}

/* DESKTOP STYLES **********************************/
@media (min-width: 1240px) {
  /* DESKTOP STYLES - Navigation **********************************/
  .navigation {
    width: 70%;
    max-width: 800px;
    left: 50%;
    transform: translate(-50%, 0);
  }
 /* DESKTOP STYLES - Header **********************************/
.header {
 background-image: url('/img/header@3x.jpg');
}
.article:nth-of-type(1){
  background-image: url('/img/article1_@3x.jpg');
}
.article:nth-of-type(2){
  background-image: url('/img/article2_@3x.jpg');
}
.article:nth-of-type(3){
  background-image: url('/img/article3_@3x.jpg');
}
}