* {
  padding: 0; margin: 0;
}
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
/* Navigation **********************************/
.navigation {
  display: block;
  width: 95%;
  position: absolute;
  margin: auto;
  height: auto;
  text-align: right;
  font-weight: 400;
  color: #ffffff;
  z-index: 10;
}
.navigation__li {
  display: inline-block;
  height: 36px;
  font-size: 14px;
  width: 90px;
  line-height: 36px;
  text-align: center;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 10px;
  transition: all 0.2s;
}
.navigation__li:hover {
  background-color: #ffffff;
  color: #2cb7d6;
  font-weight: 700;
}
.navigation__li:nth-of-type(2) {
  border: 3px solid #ffffff;
}


/* Header **********************************/
.header {
  display: block;
  position: relative;
  height: 540px;
  color:#ffffff;
  font-weight: 700;
  background-image: url('/img/header@1x.jpg');
  background-position: center; 
}
.header__wrapper {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}
.header__wrapper__h3 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 900;
}
.header__wrapper__h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
.header__wrapper__p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.header__wrapper__button {
  display: block;
  width: 90%;
  background: #2cb7d6;
  border: 3px solid #2cb7d6;
  position: relative;
  margin: 20px auto;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50px;
  transition: all 0.2s;
}
.header__wrapper__button:hover {
  background: rgba(0,0,0,0);
  color: #2cb7d6;
}


/* Section **********************************/
.section__h4 {
  font-size: 22px;
  font-weight: 700;
  color: #444444;
  margin-top: 55px;
  margin-bottom: 35px;
}


/* Article **********************************/
.article {
 display: block;
 width: 95%;
 height: 240px;
 color: #ffffff;
 background-size: cover;
 background-position: center;
 padding: 10px;
 padding-left: 20px;
 padding-right: 30px;
 box-sizing: border-box;
 position: relative;
 margin: auto;
 margin-top: 10px;
 text-align: left;
}
.article__wrapper {
  display: block;
  width: 80%;
  position: absolute;
  bottom: 20px; left:20px;
}
.article:nth-of-type(1){
  background-image: url('/img/article1_@1x.jpg');
}
.article:nth-of-type(2){
  background-image: url('/img/article2_@1x.jpg');
}
.article:nth-of-type(3){
  background-image: url('/img/article3_@1x.jpg');
}
.article__wrapper__number {
  display: inline-block;
  width: 60px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #2cb7d6;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 400;
  padding-left: 10px;
}
.article__wrapper__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 15px;
}
.article__wrapper__description {
  font-size: 14px;
  line-height: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #e3e3e3;
  margin-top: 15px;
}


/* Footer **********************************/
.footer {
  padding: 20px;
}
.footer__h1 {
  font-size: 22px;
  font-weight: 700;
  color: #444444;
  margin-top: 55px;
  margin-bottom: 35px;
}
.footer__form__label {
  font-size: 18px;
  line-height: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #444444;
  margin-top: 55px;
  margin-bottom: 35px;
}
.footer__form__input {
  display: block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  margin-top: 15px;
  text-align: center;
  padding: 10px 0;
}
.footer__form__submit {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 50px;
  color: #ffffff;
  text-align: center;
  border-radius: 40px;
  background-color: #2cb7d6;
}